<!-- views/admin/pages/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./admin/partials/head %>
</head>
<body>
    <div class="container login-container">
        <div class="row">
            <div class="offset-md-3 col-md-6 login-form-1">
                <h3>Welcome to Spotify-bot</h3>
            </div>
        </div>
    </div>
<footer>
    <% include ./admin/partials/footer %>
</footer>

</body>
</html>