<!-- views/admin/pages/tracklist.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <!-- <script>var track_id = window.location.search.split("=")[1];</script>   -->

</head>

<body>
  <header>
    <% include ../partials/header %>
  </header>

  <div id='search-track' class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 login-form-1">
        <h3>Bot Dashboard</h3>
        <p id="errorMsg" style="
        float: left;
        font-size: 21px;
        margin: 5px 5px 5px 5px;
        color: #b30a0ab0;
        padding: 1px 10px;"></p>
        <button id="onClickAddNewTrack" class="btn btn-info" style="
          float: right;
          font-size: 13px;
          margin: 5px 5px 5px 5px;">
          <i class="fa fa-arrow-circle-left"></i> &nbsp Dashboard
          <!-- <i class="fa fa-arrow-left"></i> &nbsp Dashboard -->

        </button>
        <div id="list-music-track" class="form-control" style="min-height: 45px;"></div>
        <div id="track-details" class="form-control" style="min-height: 230px; max-height: 1200px;">
          <div class="alert alert-lite" role="alert" style="text-align: center; ">Bot Status </div>

          <div id="botstatus" class="alert alert-success" role="alert" style="text-align: center;"><span></span><span
              onclick="$('#systemResponse ').toggle(); $('#system ').toggle(); return false;" class="alert-link"
              style="text-decoration: underline; cursor: pointer;">More Option</span> </div>
          <div id="botstatusDetails" class="alert alert-lite" style="display: block" role="alert"> </div>
          <div id="system" class="form-control"
            style="height: 108px; display: none; width: 88%; border: none; margin: auto;">
            <button onclick="systemTask('getInfo')" class="btn btn-info"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Get Server Info</button>
            <button onclick="systemTask('restart_bot')" class="btn btn-warning"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Restart bot</button>
            <button onclick="systemTask('getTempfileCount')" class="btn btn-primary"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Get Temp File</button>

            <button onclick="systemTask('clearTempFile')" class="btn btn-secondary"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Clear Temp File</button>
            <button onclick="systemTask('mysqlStatus')" class="btn btn-success"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Check Mysql Status</button>
            <button onclick="systemTask('restart_mysql')" class="btn btn-danger"
              style="margin: 1% 1% 1% 1%;  width: 31%; float: left;">Restart Mysql</button>
          </div>
          <div id="systemResponse" class="form-control"
            style=" display: none; margin-top: 10px; background-color: #222; color: #aaa; padding: 20px; max-height: 300px; min-height: 120px; overflow: auto;">
            <h4 style="text-align: center">Response From Server</h4>
            <pre id="systemOutput" style="color: #cccfd0"></pre>
          </div>

          <hr>
          <input id='date' class="form-control"
            style=" float: left; width: 40%; margin-right: 10px; height: 40px; margin-bottom: 10px" type="date"
            value="12/12/2019" name="Selectdate">

          <button id="overviewListBtn" type="button" class="btn btn-outline-dark">Overview List</button>

          
          <!-- <button id="sortByToggleButton" type="button" class="btn btn-outline-info">Sort by tracks</button> -->
          
          <label class="switch" style="float: right; margin-right: 20px; margin-top: 10px;">
            <input id="sortByToggleButton" disabled type="checkbox" id="switch">
            <span class="slider round"></span>
          </label>

          <span style="display: none; float: right; margin-right: 20px; padding: 6px;">Sort by track list</span>
          
          <div id="message" class="alert-light" style="text-align: center; ">
          </div>

          <hr>

          <div id="overviewList" style="display: block; margin-top: 18px; overflow: auto; max-height: 425px;">
            <span style="text-align: center; display: inherit;">Overview List</span>
            <table id="botListTable" style="display: none" class="table table-hover">
              <thead>
                <tr>
                  <th>Bot</th>
                  <th>Current Track</th>
                  <th>start Time</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>

          <div id="allList" style="display: none">
            <span style="text-align: center; display: inherit; border-bottom: 0.5px solid #dadada;">All List</span>
            <div style="display: none; margin-top: 18px; height: 430px">
              <div style="height: 428px; border: 1px solid #4cadc3; border-radius: 4px; width: 30%; float: left;">
                <span
                  style="text-align: center; display: block; padding: 5px 2px; color: #3dabbf; background-image: linear-gradient(#acd2d4, #fffff7);">Track
                  List
                </span>
                <UL id="listByDate"
                  style="padding-left: 0px; margin-bottom: 0px; overflow: auto; max-height: calc(100% - 34px);">
                </UL>
              </div>
              <div
                style="height: 428px; border: 1px solid #4cadc3; border-radius: 4px; width: 30%; float: left; margin-left: 1%; margin-right: 1%;">
                <span
                  style="text-align: center; display: block; padding: 5px 2px; color: #3dabbf; background-image: linear-gradient(#acd2d4, #fffff7);">Bot
                  List</span>
                <UL id="listById"
                  style="padding-left: 0px; margin-bottom: 0px; overflow: auto; max-height: calc(100% - 34px);">
                </UL>
              </div>
              <div style="height: 428px; border: 1px solid #4cadc3; border-radius: 4px; width: 38%; float: right;">
                <span
                  style="text-align: center; display: block; padding: 5px 2px; color: #3dabbf; background-image: linear-gradient(#acd2d4, #fffff7);">Play
                  Status</span>
                <div style="padding-left: 0px; margin-bottom: 0px; overflow: auto; max-height: calc(100% - 34px);">
                  <table id="playList" class="table table-hover">
                    <thead>
                      <tr>
                        <th>Start Play</th>
                        <th>End Track</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div id="nextPrevBtn" style="
          padding: 5px 0px;
          flex: 1;
          flex-direction: row;
          align-items: flex-end;
          float: right;
          display: none;">
        <input style="width: 120px; background-color: #ecddb1f0; border: 1px solid #e0a638; margin: 0px 10px 0px 10px;"
          class="btn" type="button" id="prvBtn" value="Prev">
        <span id="pageNo" style="
                border: 1px solid #222;
                padding: 6px 8px;
                border-radius: 4px;
                margin-right: 1px;
                background-color: #fff;
                border-color: #d6ae3e;
                "> </span>
        <input style="width: 120px; background-color: #ecddb1f0; border: 1px solid #e0a638; margin: 0px 10px 0px 10px;"
          class="btn" type="button" id="nxtBtn" value="Next">
      </div>
    </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    var response = {};
    var flag = 'tracks';
 
    // get bot current status and manage server ________________________________________________

    systemTask = (data) => {
      $('#systemOutput').html('')
      $.ajax({
        url: '/admin/servertask',
        type: "POST",
        data: { command: data },
        success: function (response) {
          $('#systemOutput').html(response)
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    getBotStatus = () => {
      $.ajax({
        url: '/admin/botstatus',
        type: "POST",
        success: function (response) {
          $('#botstatus').show();
          if (response.type == 'success') {
            $('#botstatus').removeClass('alert-success alert-danger alert-warning').addClass('alert-success');
            $($('#botstatus').children()[0]).html('Bot status: All bots are running ');
          }
          if (response.type == 'error') {
            $('#botstatus').removeClass('alert-success alert-danger alert-warning').addClass('alert-danger');
            $($('#botstatus').children()[0]).html('Bot status: Some Error occured. Bot stop running ');
          }
          if (response.type == 'warning') {
            $('#botstatus').removeClass('alert-success alert-danger alert-warning').addClass('alert-warning');
            $($('#botstatus').children()[0]).html('Bot status: Bots are idle ');
          } else if (response == '') {
            $('#botstatus').removeClass('alert-success alert-danger alert-warning').addClass('alert-danger');
            $($('#botstatus').children()[0]).html('Bot status: Error! Bots are not running ');
            $('#botstatusDetails').html('Status: No response from bot server. please restart the bot ');
          }
          $('#botstatusDetails').html(`Status: ${response.details}`);
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    setInterval(() => { getBotStatus();}, 1000)

    // show all data by date (playlist overview) ________________________________________________

    getAllData = () => {
      if ($('#date').val() == '') return;
      $.ajax({
        url: '/admin/getcurrentlist',
        type: "POST",
        data: { date: $('#date').val() },
        success: function (response) {
          $('#botListTable').find('tbody').html('');
          if (response.length < 1) {
            $('#botListTable').hide();
            $('#message').show();
            $('#message').html('<hr>No result found for this date');
          } else {
            $('#message').hide();
            $('#botListTable').show();
            showAllList(response);
          }
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    setInterval(() => { getAllData();}, 5*1000)

    showAllList = (response) => {
      // let temp = '';
      response.map((item, i) => {

        var ct = Math.floor((new Date(item.created_at)).getTime() / 1000);
        var rt = Math.floor((new Date()).getTime() / 1000);

        if (ct < rt-100) {
          $('#botListTable').hide();
          $('#overviewList').find('span').html('No Running Bots');
          return;
        }
        $('#overviewList').find('span').html('Overview List');
        var str = item.created_at;
        var res = str.split("T")
        var startTime = res[1].slice(0, 8);
        var str = item.updated_at;
        var res = str.split("T")
        var endTime = item.created_at != '' && item.created_at == item.updated_at ? '  -- : -- ' : res[1].slice(0, 8);
        var status = item.created_at != '' && item.created_at == item.updated_at ? 'Running' : 'Completed';

        $('#botListTable').find('tbody').append(`
            <tr>
              <td>${item.played_by_bot_id}</td>
              <td>${item.track_name}</td>
              <td>${startTime}</td>
              <td>${status}</td>
            </tr>
        `);
      });
    }

    // Show sort by tracks _______________________________________________________________________

    fetchListByDate = () => {
      if ($('#date').val() == '') return;
      var URL = '/admin/getlistbydate';
      $.ajax({
        url: URL,
        type: "POST",
        data: { date: $('#date').val(), flag: flag },
        success: function (response) {
          $('#listByDate').html('');
          if (response.length < 1) {
            $('#allList').children().hide();
            $('#message').show();
            $('#message').html('<hr>No result found for this date');
          } else {
            $('#message').hide();
            $('#allList').children().show();
            $('#allList').parent().show();
            $('#listById').parent().hide();
            $('#playList').parent().parent().hide();
            showListByDate(response);
          }
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    fetchListById = (id) => {
      if ($('#date').val() == '' || id == '') return;
      var URL = 'getlistbyid';
      var data = {date: $('#date').val(), flag: flag};
      flag == 'tracks' ?  data.track_id = id : data.id = id;
     
      $.ajax({
        url: URL,
        type: "POST",
        data: data,
        success: function (response) {
          $('#listById').html('');
          if (response.length < 1) {
            $('#allList').children().hide();
            $('#message').show();
            $('#message').html('<hr>No result found for this date');
          } else {
            $('#message').hide();
            $('#allList').children().show();
            $('#allList').parent().show();
            $('#listById').parent().show();
            $('#playList').parent().parent().hide();
            showListByID(response);
          }
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    fetchPlaylist = (trackId = '', botId = '') => {
      if ($('#date').val() == '' || trackId == '' || botId == '') return;
      $.ajax({
        url: '/admin/getplaydetails',
        type: "POST",
        data: {
          date: $('#date').val(),
          track_id: trackId,
          bot_id: botId,
          flag: flag,
        },
        success: function (response) {
          $('#playList').find('tbody').html('');
          if (response.length < 1) {
            $('#allList').children().hide();
            $('#message').show();
            $('#message').html('<hr>No result found for this date');
          } else {
            $('#message').hide();
            $('#allList').children().show();
            $('#allList').parent().show();
            $('#listById').parent().show();
            $('#playList').parent().parent().show();
            showPlayList(response.reverse());
          }
        },
        error: function (error) {
          console.error(error);
        }
      });
    }

    showListByDate = (response) => {
      response.map((item, i) => {
        $('#listByDate').append(`
        <LI class="list-group-item list-group-item-action" onclick="getListById('${flag == 'tracks' ? item.track_id : item.played_by_bot_id}', this)">
          ${flag == 'tracks' ? item.track_name : item.played_by_bot_id}
        <span class="badge badge-primary badge-pill" style="float: right; float: right; width: 30px; padding: 6px; border-radius: 4px;">${item.play_count}</span>
        </LI>
      `);
      });
    }

    showPlayList = (response) => {
      response.map((item, i) => {
        // console.log(' item.created_at : ',  item.created_at);
        // console.log(' item.updated_at : ',  item.updated_at);

        var ct = Math.floor((new Date(item.created_at)).getTime() / 1000);
        var ut = Math.floor((new Date(item.updated_at)).getTime() / 1000);
        var rt = Math.floor((new Date()).getTime() / 1000);
        var status = '';
        var modifydate = 1567513980;  // Tuesday, 3 September 2019 12:33:00

        if (ct < modifydate) {
          status = 'Completed';
        } else if (ut == ct && ct >= rt-100) {
          status = 'Running';
        } else if (ut == ct && ct < rt-100) {
          status = 'Skipped';
        } else if (ut > ct+100) {
          status = 'Skipped';
        } else {
          status = 'Completed';
        }

        var str = item.created_at;
        var res = str.split("T")
        var startTime = res[1].slice(0, 8);
        var str = item.updated_at;
        var res = str.split("T")
        var endTime = item.created_at != '' && item.created_at == item.updated_at ? '  -- : -- ' : res[1].slice(0, 8);
        endTime = ct < modifydate ? startTime : endTime;

        $('#playList').find('tbody').append(`
          <tr>
            <td>${startTime}</td>
            <td>${endTime}</td>
            <td>
                <span class="badge ${status == 'Running' ? 'badge-info' : 'badge-primary'}" style="padding: 6px 6px;">${status}</span>  
            </td>
          </tr>
        `);
      });
    }

    showListByID = (response) => {
      response.map((item, i) => {
        $('#listById').append(`
        <LI class="list-group-item list-group-item-action" onclick="getPlaylist('${item.track_id}', '${item.played_by_bot_id}', this)">
          ${flag == 'tracks' ? item.played_by_bot_id : item.track_name}
        <span class="badge badge-primary badge-pill" style="float: right; float: right; width: 30px; padding: 6px; border-radius: 4px;">${item.play_count}</span>
        </LI>
      `);
      });
    }

    getListById = (id, selector) => {
      $(selector).css('background-color', '#d6e4e8')
      $(selector).siblings().css('background-color', '');
      fetchListById(id);
    }

    getPlaylist = (trackID, botID, selector) => {
      $(selector).css('background-color', '#d6e4e8')
      $(selector).siblings().css('background-color', '');
      fetchPlaylist(trackID, botID);
    }

    // others ___________________________________________________________________________________

    $(document).ready(function () {
      $('#onClickAddNewTrack').on('click', () => window.location.replace(`/admin`));
      
      $('#date').on('change', () => { getAllData(); fetchListByDate();});

      $('#date').change().val(new Date().toISOString().slice(0, 10));
      
      // getAllData();
      // fetchListByDate();

      $('#sortByToggleButton').on('change', () => {
        if ($('#date').val() == null ) return;
        if($('#sortByToggleButton').is(':checked')) {
          flag = 'bots';
          $('#listByDate').siblings('span').html('Bot List');
          $('#listById').siblings('span').html('Track List');
          $('#sortByToggleButton').parent().siblings('span').html('Sort by track list');
        } else {
          flag = 'tracks';
          $('#listByDate').siblings('span').html('Track List');
          $('#listById').siblings('span').html('Bot List');
          $('#sortByToggleButton').parent().siblings('span').html('Sort by bot list');
        }
        fetchListByDate();
        $('#overviewList').hide();
      });


      $('#overviewListBtn').on('click', () => {
        if ($('#date').val() == null ) return;
        if ($('#overviewListBtn').html() == 'Overview List') {
          $('#overviewListBtn').html('All list');
          $('#sortByToggleButton').removeAttr("disabled");
          $('#sortByToggleButton').parent().siblings('span').show();
        } else {
          $('#overviewListBtn').html('Overview List');
          $('#sortByToggleButton').attr("disabled", true);
          $('#sortByToggleButton').parent().siblings('span').hide();
        }
        fetchListByDate();
        $('#overviewList').toggle();
        $('#allList').toggle();
      });

      
    });


  </script>

</body>

</html>