<!-- views/admin/pages/dashboard.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
  <script>
    removeSelection = () =>  {
      for (i = 0; i < 20; i++) {
          $('#trackBtn_'+i).css('background-color', '#ddd');
          $('#trackBody_'+i).css('background-color', '');
        }
    }
   selectTrackBtn = (key) => {
     selectedSong = key;
     removeSelection();
        // for (i = 0; i < 20; i++) {
        //   $('#trackBtn_'+i).css('background-color', '#ddd');
        //   $('#trackBody_'+i).css('background-color', '');
        // }
        $('#trackBtn_'+key).css('background-color', '#13cc45');
        $('#trackBody_'+key).css('background-color', '#d3fba8');
      }
  </script>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>

  <div id = 'search-track' class="container">
    <div class="row">
      <div class="offset-md-1 col-md-10 login-form-1">
        <h3>Add a song to play</h3>
        <div class="form-group" style="height: 36px;">
            <button id = "onClickDashboard" class="btn btn-info" style="
              float: right;
              font-size: 13px;
              margin: 5px 5px 5px 5px;">
              <i class="fa fa-list"></i> Go to dashboard
            </button>
        </div>
        <form method="POST" onsubmit="return false;">
          <div class="form-group">
            <div style="width: 90%; float: left; margin-right: 5px;">
              <input type="text" id="search" name="search" class="form-control" placeholder="Enter track name">
            </div>

            <input type="submit" id="search_button" class="btn" value="Search" />
          </div>

          <div id='search_results' class="form-group" style="display: none">
            <div id="list-music-track" class="form-control">
            </div>
            <div id="nextPrevBtn" style="padding: 5px 0px;
                        flex: 1;
                        flex-direction: row;
                        align-items: flex-end;
                        float: right;
                        display: none;" >
                <input style="width: 120px; background-color: #ecddb1f0; border: 1px solid #e0a638; margin: 0px 10px 0px 10px;" class="btn" type="button" id="prvBtn" value="Prev">
                <span id="pageNo" style="
                border: 1px solid #222;
                padding: 6px 8px;
                border-radius: 4px;
                margin-right: 1px;
                background-color: #fff;
                border-color: #d6ae3e;
                ">  </span>
                <input style="width: 120px; background-color: #ecddb1f0; border: 1px solid #e0a638; margin: 0px 10px 0px 10px;" class="btn" type="button" id="nxtBtn" value="Next">
            </div>
            
          </div>

          <div class="form-group">
            <span>Enter how many time you want to play: </span>
            <input type="number" id="play_count" name="play_count" placeholder="100" value="100" step="10" style="width: 100px" required>
          </div>

          <% if (locals.error) { %>
          <p class="text-danger text-center">ssss<%= error %> </p>
          <% } %>
          
          <p id="successMsg" class="text-success text-center"></p>

          <div class="form-group">
            <input type="button" id="submit_button" class="btnSubmit" value="Submit" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

  <script>
    var nextPageUrl = null;
    var prevPageUrl = null;
    var trackListArray = [];
    var selectedSong = null;
    var BASE_URL= 'http://0.0.0.0:3000/';

    function searchTracks(url) {
      var search = $('#search').val();
      search = search.trim();
      if(!search) {
        $("#search_results").hide();
        $("#list-music-track").html('');        
        $("#nextPrevBtn").hide();
        return;
      }

      $("#search_results").show();
      $("#list-music-track").html(`
        <h5 class="text-center">Searching...</h5>
      `);

      $.ajax({
        url: '/api/search',
        data: { search, url },
        success: function (response) {
          if(response.items.length < 1) {
            $("#list-music-track").html(`
              <h5 class="text-center alert-danger">No search results</h5>
            `);
            return;
          }
          showSongsTrack(response);
          // console.log(response.items[0]);
        },
        error: function (error) {
          console.error(error);
          $("#list-music-track").html(`
            <h5 class="text-center alert-danger">Unknown error occured</h5>
          `);
        }
      });
    }

    function showSongsTrack(response) {
      trackListArray = [];
      selectedSong = null;
      prevPageUrl = response.previous;
      nextPageUrl = response.next;
      $('#pageNo').html(Math.floor(response.offset/20)+1);

      // console.log(response);

      if(nextPageUrl == null) {
        $("#nxtBtn").css('cursor', 'not-allowed');
        $("#nxtBtn").attr("disabled", true);
      } else {
        $("#nxtBtn").css('cursor', 'pointer');
        $("#nxtBtn").attr("disabled", false);
      }

      if(prevPageUrl == null) {
        $("#prvBtn").css('cursor', 'not-allowed');
        $("#prvBtn").attr("disabled", true);
      } else {
        $("#prvBtn").css('cursor', 'pointer');
        $("#prvBtn").attr("disabled", false);
      }

      $("#list-music-track").html('');
      
      for (let [key, value] of Object.entries(response.items)) {
        var artistName = [];
        value.artists.map(a => {
          artistName.push(a.name);
        });

        function millisToMinutesAndSeconds(millis) {
          var minutes = Math.floor(millis / 60000);
          var seconds = ((millis % 60000) / 1000).toFixed(0);
          return minutes + ":" + (seconds < 10 ? '0' : '') + seconds;
        }     
        
        data = {
          track_id: value.id, 
          track_name: value.name.split("'").join("\\'"),
          album_id: value.album.id,
          album_url: value.album.external_urls.spotify,
          album_name: value.album.name.split("'").join("\\'"),
          artist_name: artistName.join(', '),
          release_date: value.album.release_date,
          duration_ms: value.duration_ms,
          track_url: value.external_urls.spotify,
          // external_ids: value.external_ids.isrc,
          popularity: value.popularity,
          album_art: value.album.images[1].url,
          preview_url: value.preview_url,
        };

        trackListArray.push(data);

        $("#list-music-track").append(`
          <div>
            <div id="trackBody_${key}" class="card" style="height:150px; width: 100%;">
              <div>
                  <img src="${value.album.images[1].url}" style="float: left" width="150px" height="150px" alt="Track image">
                  <div style="
                  float: left;
                  padding: 4px 6px;
                  margin-left: 10px;
                  width: 40%;
                  height: 150px;
                  overflow: auto;
                  ">
                      <h5>${value.name}</h4>
                      <span> ${value.album.name}</span><br>
                      <span>Released: ${value.album.release_date}</span><br>
                      <!-- <span><strong>&#x1F642;</strong></span>  -->
                      <i class="fa fa-thumbs-up"></i>
                      <sppan>  ${value.popularity}</span> &nbsp&nbsp
                        <!-- <i class="fa fa-history"></i> -->
                      <span> Duration: ${millisToMinutesAndSeconds(value.duration_ms)} </span> &nbsp&nbsp
                  </div>

                  <div style="
                    float: left;
                    padding: 4px 6px;
                    width: 32%;
                    height: 150px;
                    margin-left: 4px;
                    // overflow: auto;
                  ">
                      <span><strong>Artist Name</strong></span>
                      <div style="overflow: auto;">
                          <span> ${artistName.join(', ')}</span>
                      </div>
                      <audio controls preload="none" title="Preview" style="height:20px">
                        <source src="${value.preview_url}">
                        Your browser does not support the audio tag.
                      </audio>
                      <div style="height: 40px">
                        <input type="button" id="trackBtn_${key}" onclick="selectTrackBtn(${key})"  class="btn" style="width: 80px;" value="select" />
                        <input type="button" onclick="window.open('${value.external_urls.spotify}')" class="btn" style="width: 125px; background-color: #2e829b; color: white;" value="Play in Spotify" />
                      </div>
                  </div>
              </div>

            </div>
            <br>
          </div>
        `);
      }
  
      $('#successMsg').hide();
      $("#nextPrevBtn").show();

    }

    function submitTrack() {
      var count = $("#play_count").val();

      console.log('count: ', count);

      if (!trackListArray.length > 0) {
        alert('Please search a track');
        return;
      } else if (selectedSong == null) {
        alert('Please select a track');
        return;
      } else if (!count) {
        alert('Enter how many times to play');
        return;
      } else {
        trackListArray[selectedSong].play_count = count;
        
        // play track api

        // $.ajax({
        //   url: '/api/play-track',
        //   type: "POST",
        //   data: {
        //     track: trackListArray[selectedSong].track_url,
        //     count
        //   },

        //   success: function (response) { 
        //     alert(response);
        //     $('#successMsg').show();
        //     $('#successMsg').html(response);
        //   },
        //   error: function (error) {
        //     console.log(error);
        //   }
        // });

        // save tracklist api

        $.ajax({
          url: '/model/tracklist',
          type: "POST",
          data: trackListArray[selectedSong],
          success: function (response) { 

            if (response =='track successfully inserted') alert('Track successfully added');
            if (response =='Already Exist') alert('Track already in list');
            
            selectedSong = null;
            removeSelection();
          },
          error: function (error) {
            console.log(error);
          }
        });
      }
    }

    $(document).ready(function () {
      $("#search_button").on('click', searchTracks);

      $("#submit_button").on('click', submitTrack);
      
      $("#nxtBtn").on('click', () => {
        searchTracks(nextPageUrl);
      });
      
      $("#prvBtn").on('click', () => {
        searchTracks(prevPageUrl);
      });
      
      $('#onClickDashboard').on('click', () => {
        window.location.replace(`${BASE_URL}admin`);
        // return res.redirect('/admin/addtracklist');
      });

    });
  </script>

</body>

</html>